<h2 class="ui header centered">Nosotros</h2>
<div class="ui container">
  <div class="ui grid">
    <div class="eight wide column">
      <img src="https://www.renzocosta.com/media_rc/uploads/nosotros/img-step-01.jpg" class="ui image">
    </div>
    <div class="eight wide column">
      <h3 class="ui header centered">Historia</h3>
      <p class="text">
        Nuestra empresa comenzo con a iniciativa
        de cuatro jovenes estudiantes de la Universidad Nacional del Altiplano Puno, tres de ellos de la escuela
        profesional de Administracion y uno de ellos de la escuela profecional de Ingenieria de Sistemas.
      </p>
      <p class="text">
        En nuestra tienda ademas se encontrar variedad de productos encontrarás la calidez de servicio que viene 
        de un negocio.
      </p>
    </div>
  </div>
  <div class="ui grid">
    <div class="eight wide column">
      <h3 class="ui header centered">Mision</h3>
      <p class="text">
        Somos una empresa dedicada a la venta de productos de segundo uso(prendas de vestir).
      </p>
    </div>
    <div class="eight wide column">
      <img src="https://www.renzocosta.com/media_rc/uploads/nosotros/img-step-01.jpg" class="ui image">
    </div>
  </div>
  <div class="ui grid">
    <div class="eight wide column">
      <img src="https://www.renzocosta.com/media_rc/uploads/nosotros/img-step-01.jpg" class="ui image">
    </div>
    <div class="eight wide column">
      <h3 class="ui header centered">Vision</h3>
      <p class="text">
        Al 2021 somos una empresa reconocida en la region
      </p>
    </div>
  </div>
</div>
